<%- include("partials/header") -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="postTitle" placeholder="Give a Title to your post">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    <label>Post</label>
    <textarea type="text" class="form-control" cols="40" rows="6" name="postBody" placeholder="Write a post"></textarea>
      <button type="submit" class="btn btn-primary" name="button">Publish</button>
  </div>
  </form>
  <!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->

<!-- </form>
<form class="" action="/compose" method="post">

<input type="text" name="postTitle" value="">
<button type="submit" name="button">Publish</button>
</form> -->
<%- include("partials/footer") -%>
